#chatting__body {
    background-color: #abc1d1;
    height:500vh;
}
.chatting__status-bar, 
.chatting__header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #abc1d1;
    box-sizing: border-box;
}
.chatting__status-bar {
    z-index: 2;
}
.chatting__header {
    display: flex;
    align-items: center;
    padding: var(--horizontal-space);
    top: 10px;
    z-index: 1;
}
.chatting__header-name {
    font-size: 28px;
    font-weight: 450;
}
.chatting__header-column {
    width: 33%;
}
.chatting__header-column:first-child {
    margin-right: auto;
}
.chatting__header-column:nth-child(2) {
    text-align: center;
}
.chatting__header-column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}
.chatting__header-column:last-child span:first-child {
    margin-right: 20px;   
}

/* @keyframes fadeIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        opacity:1;
    }
} */
.main-chatting {
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.8s linear;
}
.chatting__timestamp {
    display: inline-block;
    /* justify-content: center; */
    background-color: rgba(0,0,0,.2);
    color: #fff;
    font-size: 13px;
    padding: 8px 15px;
    border-radius: 25px;
    margin-bottom: 25px;
}

@keyframes chattingAppear {
    from {
        transform: translateX(-100px);
        
    }
    to {
        transform: none;
        opacity: 1;
    }
}
.message-row-you {
    animation: chattingAppear .3s ease-out forwards;
    opacity: 0;
}
@keyframes chattingAppear-my {
    from {
        transform: translateX(100px);
        
    }
    to {
        transform: none;
        opacity: 1;
    }
}
.message-row-my {
    animation: chattingAppear-my .3s ease-out forwards;
    animation-delay: .3s;
    opacity:0
}
.message-row-you,
.message-row-my {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
.message-row__img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-right: 10px;
}

.message-row__author {
    font-size: 13px;
    opacity: .8;
    margin-bottom: 15px;
}
.message-row__message {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.message__bubble-you,
.message__bubble-my {
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 13px;
    border-top-left-radius: 0px ;
    font-size: 18px;
}
.message__time-you,
.message__time-my {
    margin-left: 6px;
    font-size: 13px;
    opacity: 0.6;
}
.message-row-my {
    align-items: flex-end;
    justify-content: flex-end;
}
.message__time-my {
   margin-right: 6px;
   order: 0;
}
.message__bubble-my {
    background-color: var(--yellow);
    border-top-left-radius: 13px ;
    border-top-right-radius:0px;
    order: 1;
}
.reply {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.reply__column:last-child {
    width: 90%;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.reply__column input {
    padding: 10px;
    width: 100%;
    border-radius: 20px;
}
.reply__column:first-child {
    transition: all .3s linear;
}
.reply__column:last-child > i,
.reply__column:last-child button{
    position: absolute;
    right: -20px;
    top: 3px;
    
}
.reply__column:last-child > i {
    right:27px;
    color: var(--grey)
}
.reply__column:last-child button {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 0;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: var(--yellow);
    border: none;
}
.reply__column button:focus,
.reply__column button:active {
    outline: none;
}
.reply:focus-within .reply__column:first-child {
    display: none;
}
.reply:focus-within .reply__column:last-child {
    width: 100%;
    transform: translateY(-80px);
}
.reply:focus-within {
    transform: translateY(80px);
}