#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0;
    font-size: 18px;
    margin-bottom: 15px;
}#friedns-display-link i {
    color: rgba(0,0,0,.3)
}
.friends-screen {
    padding: 0 var(--horizontal-space);
}
.friends-screen__channel {
    margin-top: 25px;
    border-top: 1px solid rgba(0,0,0,.2);
    padding-top: 15px;
}
.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0,0,0,.5);

}
@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden; /*사라진 건 아니다. 사라지게 하려면 js 이용해야함*/
        /* display: none;  작동안함->버튼 누를 수 없음*/
    } 
}
.splash-screen {
    background-color: var(--yellow);
    position: absolute; /*body기준으로 */
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    animation: hideSplashScreen 1s ease-in-out forwards; /*forwards: 마지막속성 기억*/
    animation-delay: 2s;
}