
.welcome-header {
    margin: 95px 0 80px; /*top-side-bottom*/
    text-align: center; /*title, text centered->instead of display:flex, because we are using texts */
    display: flex; /*같은 열에 배치됨->flex-direction */
    flex-direction: column; 
    align-items: center; /*flex-direction바뀌어서 justify-content 아니고 align-items*/
}
.welcome-header__title{
    margin-bottom: 25px;
    font-size: 25px;
}
.welcome-header__text {
    width: 70%;
    opacity: 0.7;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}
#login-form input {
    margin: 5px 0;
    border: none;
    padding: 15px 0;
    font-size: 18px;
}
#login-form input::placeholder {  /*pseudo elements*/
    color: rgba(0,0,0,.4);
}
#login-form input:not([type="submit"]){
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    transition: border-color 0.3s ease-in-out;
}
#login-form input:focus {
    border-color: var(--yellow); /*!변수사용!*/
}
#login-form input:nth-child(2) {
    margin-bottom: 20px;
}
#login-form input[type="submit"]{
    background-color: var(--yellow);
    cursor: pointer;
    padding: 20px 0;
    border-radius: 5px;
} 
#login-form a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    padding: 7px 0;
    opacity: .8;
}