.badge {
background-color: tomato;
width: 30px;
height: 30px;
border-radius: 15px; /*making circle->half of the width*/
display: flex;
justify-content: center;
align-items: center;
color: #f9f9fa;
font-weight: 600;
}