.screen-header {
    display: flex;
    justify-content: space-between;
    /* position: absolute;
    top: 25px; */
    /* width: 100%;
    box-sizing: border-box; */
    align-items: center;
    padding: var(--horizontal-space);
}
.screen-header__title{
    font-size: 32px;
    font-weight: 600;
    
}
.screen-header__icon {
    /* display: inline-block;
    box-sizing: border-box; */
    margin-left: 25px;
    position: relative;
    /* padding: 5px 0; */
}
@keyframes rotateGear {
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}

.screen-header__icon .fa-gear:hover {
    animation: rotateGear 1s linear infinite;
} 
.screen-header__gear-dot { 
    position: absolute;
    left: 21px;
    bottom: 21px;
}